{% extends 'modelo.html' %}
{% block conteudo %}
<nav id="barraadm">
    {% if login %}
    <h3>Bem-vindo meu patrão!</h3>
    <a href="/novopost"><button class="bt_adm">Novo Post</button></a>
    <a href="/logout"><button class="bt_adm">Logout</button></a>
    {% else %}
    <a href="/login"><button class="bt_adm">Login</button></a>
    {% endif %}
</nav>

<div id="postagem">
    {% if not(posts) %}
    <h2>Não há postagens nesse Blog!</h2>
    {% else %}
    {% for post in posts %}
    <div class="boxpost">
        {% if login %}
        <a href="/excluir/{{ post['id'] }}" onclick="return confirm('Você tem certeza de que deseja excluir essa postagem?')"><button class="excluir">Excluir</button></a>
        {% endif %}
        <h2>{{ post['titulo'] }}</h2>
        <p>{{ post['conteudo'] }}</p>
    </div>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}

