<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/estilo.css">
    <title>MEU BLOG - BLOG DO JP</title>
</head>
<body>
    <header>
        <img src="../static/logo.png" class="logo">
        <h1>BLOG DO JP</h1>
    </header>
    <main>
        {% block conteudo %}

        {% endblock %}
    </main>
    <footer>
        <img src="../static/logo.png" class="logo">
        <h1>BLOG DO JP</h1>
    </footer>
    
</body>
</html>